.navbar {
    background-color: #22aece;
    overflow: hidden;
    display: flex; flex-direction: row-reverse; align-items: center;
    position: fixed;
    width: 100%;
    top: 0; left: 0;
    height: 3em;
    padding: 0 1rem;
    box-sizing: border-box;
}
