.navbar {
    background-color: rgba(34, 174, 206, 0.8);
    overflow: hidden;
    display: flex; flex-direction: row-reverse; align-items: center;
    position: fixed;
    width: 100%;
    top: 0; left: 0;
    height: 3em;
    padding: 0 0.5em;
    box-sizing: border-box;
    z-index: 40;
}
