.navbar{
    background-color: #22aece;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 2.5em;
}
